html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}


:root{
  background-color: #282A36;
  color: #f0f0f0;
  
}

h1{

  font-family: sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana !important;
}

.miDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
  color: inherit; 
}

.miOtroDiv {
  display: flex;
  flex-direction: column;
  
}

.form-div{
  display: flex;
  justify-content: center;
}
